* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Alegreya';
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-buto {
    background: #C8191C;
    width: 300px;
    height: 63px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 1.3rem;
}

.container {
    height: 100vh;
}

.img {
    width: 100%;
    display: block;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

header .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    margin-right: 5rem;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

/* *********Hero section********* */

#hero {
    background: linear-gradient(180deg, #000000 36.84%, #C8191C 223.16%);
    width: 100%;
    height: 100vh;
    position: relative;
}

#hero::before {
    content: '';
    background-image: url(../image/Vector.png);
    inset: 0;
    position: absolute;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.hero-data {
    padding-top: 40rem;
    text-align: center;
    z-index: 999;
    position: relative;
}

.hero-data h1 {
    font-weight: 700;
    font-size: 129px;
    line-height: 160px;
    text-align: center;
    color: #FFFFFF;
}

.hero-data span {
    color: #C8191C;
}

.hero-data p {
    padding: 5.5rem 0;
    text-align: center;
    max-width: 90.5rem;
    margin: 0 auto;
}

/* ****************************** */

@media screen and (min-width: 1650px) {
    .container {
        max-width: 150rem !important;
    }
    .hero-data h1 {
        font-size: 110px;
        line-height: 140px;
    }
}

@media screen and (min-width: 1920px) {
    .container {
        max-width: 170rem !important;
    }
}